.Image {
    position: relative;
    z-index: 1;
    width: 100%;
}

.Image img {
    display: block;
    width: 100%;
    height: auto;
}

.Thumbnail {
    opacity: 0.5;
    margin-top: 10px;
}

.ImageInner {
    max-width: 100%;
}