.SideDrawer {
	grid-area: sidedrawer;
    width: 250px;
    padding: 20px;
    background-color: #1d3557;
}

@media only screen and (max-width: 767px) {
    .SideDrawer {
        flex-basis: 50px;
    }
}